mat-card {
    margin: 2%;
    text-align: left;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}

.mat-50 {
    width: 48%;
    margin: 1%;
}

h1 {
    text-align: center;
}

button {
    margin: 2px;
}

mat-form-field {
    width: 40% !important;
}

form {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
}

button {
    width: 40%;
}
