.sidenav-container {
  height: 100%;
  background-color: #1D1C28;
  color: whitesmoke;
}

.sidenav {
  width: 200px;
  background-color: #1D1C28;
  color: whitesmoke;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}



.btnMenu {
  width: 95%;
  color: grey;
  padding: 25px 0px;
  border: none;
  transition: 0.2s all;
  background-color: transparent;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;

}
.spacer{
  flex: 1 1 auto;
}
.icon-button{
  margin-right: 1rem;
}
.usuario{
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.usuario img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
}
.usuario h2{
  padding: 0 10px;
}
/* .btnMenu:nth-child(5) {
  margin-top: 100%;
} */
.icon-button:hover ::content {
  color: blueviolet;
  font-weight: bold;
}
.btnMenu:hover ::content {
  transform: scale(1.1);
  color: blueviolet;
  font-weight: bold;
  background-color: #312f42;
}
