<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="display: flex;justify-content: center;color: whitesmoke;">Menu</mat-toolbar>


    <mat-nav-list>
      <button class="btnMenu" [routerLink]="['/components/cliente',id,'mispagos']"(click)="toggleSidenav()">
        Mi perfil
        <i class="fa-regular fa-user" ></i>
      </button>
      <button class="btnMenu" [routerLink]="['/components/cliente',id,'miInfo']"(click)="toggleSidenav()">
        Mis pagos
        <i class="fa-regular fa-user" ></i>
      </button>
      <button class="btnMenu" [routerLink]="['/components/cliente',id,'miInfo']"(click)="toggleSidenav()">
        Opcion 1
        <i class="fa-regular fa-user" ></i>
      </button>
      <button class="btnMenu" [routerLink]="['/components/cliente',id,'miInfo']"(click)="toggleSidenav()">
        Opcion 2
        <i class="fa-regular fa-user" ></i>
      </button>

      <button class="btnMenu"  routerLink="/login" (click)="cerrar()">
        Cerrar sesion
        <i class="fa-regular fa-user" style="color: #ffffff;"></i>
        </button>
      <!-- <a mat-list-item href="components/cliente/1/mispagos">Link 1</a>
      <a mat-list-item href="components/cliente/1/miInfo">Link 2</a>
      <a mat-list-item href="#">Link 3</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CrediCompra</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>